.fish__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: tomato 2px solid;
  padding: 1rem;
  margin: 1rem;
}

.fish {
  margin: 1rem;
  border: purple 2px solid;
  flex-wrap: wrap;
  max-width: 12rem;
}

.fish__name {
  text-align: center;
  color: yellow;
  background-color: teal;
  padding: 0.5rem;
}

.fish__image {
  max-width: 12rem;
  height: auto;
}

/* .fish__species {

}

.fish__length {
    
}

.fish__location {
    
}

.fish__diet {
    
}

.fish__species {
    
} */
