.fishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fish {
    margin: 1rem;
    border: tomato 2px solid;
    flex-wrap: wrap;
}

.fish__name {
    text-align: center;
    color: yellow;
    background-color: teal;
    padding: 0.5rem;
}

.fish__image {
max-width: 10rem;
height: auto;
}

/* .fish__species {

}

.fish__length {
    
}

.fish__location {
    
}

.fish__diet {
    
}

.fish__species {
    
} */