.locations {
  border: yellow 2px dashed;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .locations > h3 {
  color: yellow;
  background-color: teal;
  padding: 0.5rem;
} */

.location {
  /* border: purple 2px solid; */
  margin: 1rem;
  flex-wrap: wrap;
  max-width: 12rem;
}

.location__image {
  max-width: 12rem;
  height: auto;
}
