@import "../styles/fishes.css";
@import "../styles/quotes.css";
@import "../styles/locations.css";
@import "../styles/tips.css";

body {
  font-family: "Comfortaa", cursive;
  background-color: turquoise;
  margin: 0;
}

.container {
  display: flex;
}

.header {
  text-align: center;
  color: yellow;
  background-color: teal;
  padding: 0.5rem;
}

.flex-container-left {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.section__header {
  text-align: center;
  color: yellow;
  background-color: teal;
  padding: 0.5rem;
  margin: 1rem 0.25rem .25rem .25rem;
  width: 16rem;
  align-self: center;

}

.tips {
  flex: 1;
  display: flex;
  background-color: yellow;
  margin: 1rem;
  padding: 1rem;
}
