@import "../styles/fishes.css";
@import "../styles/quotes.css";
@import "../styles/locations.css";
@import "../styles/tips.css";

body {
  font-family: "Comfortaa", cursive;
  background-color: turquoise;
  margin: 0;
}

body > h3 {
  color: yellow;
}

.header {
    text-align: center;
    color: yellow;
    background-color: teal;
    padding: 0.5rem;
}

.flex-container-left {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.tips {
  display: flex;
  flex: 1;
  background-color: yellow;
  margin: 1rem;
  padding: 1rem;
}